@model ConfirmPresenceInputModel

<div class="flex-1 flex flex-col items-center justify-around">
    <div class="card w-4/5 lg:w-2/5 mt-4 lg:mt-0 bg-base-100 card-xl shadow-sm">
        <div class="card-body">
            <div class="bg-base-300 mx-auto rounded-full p-5">
                <svg viewBox="0 0 24 24" height="45" width="45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
                            stroke="#c40058" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                </svg>
            </div>
            <h2 class="card-title mx-auto text-4xl text-neutral">
                Bem vinda!
            </h2>
            <p class="text-center ">Estamos muito felizes em convidá-la para celebrar a chegada da nossa pequena
                Heloísa!</p>
            <p class="text-center ">💕</p>
            <div class="bg-base-200 mt-3 rounded-md text-neutral font-medium">
                <div class="flex flex-row items-center my-2 ml-2">
                    <svg viewBox="0 0 24 24" height="20" width="20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M20 10V7C20 5.89543 19.1046 5 18 5H6C4.89543 5 4 5.89543 4 7V10M20 10V19C20 20.1046 19.1046 21 18 21H6C4.89543 21 4 20.1046 4 19V10M20 10H4M8 3V7M16 3V7"
                                stroke="#830c40" stroke-width="2" stroke-linecap="round"></path>
                            <rect x="6" y="12" width="3" height="3" rx="0.5" fill="#830c40"></rect>
                            <rect x="10.5" y="12" width="3" height="3" rx="0.5" fill="#830c40"></rect>
                            <rect x="15" y="12" width="3" height="3" rx="0.5" fill="#830c40"></rect>
                        </g>
                    </svg>
                    <p class="text-sm ml-1">Dia 23 de Agosto (23/08/2025)</p>
                </div>

                <div class="flex flex-row items-center my-2 ml-2">
                    <svg viewBox="0 0 24 24" height="20" width="20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                                stroke="#830c40" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                    <p class="text-sm ml-1">Ás 15:30</p>
                </div>

                <div class="flex flex-row items-center my-2 ml-2">
                    <svg viewBox="0 0 24 24" height="20" width="20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g clip-path="url(#clip0_429_11046)">
                                <rect x="12" y="11" width="0.01" height="0.01" stroke="#830c40" stroke-width="3.75"
                                    stroke-linejoin="round"></rect>
                                <path
                                    d="M12 22L17.5 16.5C20.5376 13.4624 20.5376 8.53757 17.5 5.5C14.4624 2.46244 9.53757 2.46244 6.5 5.5C3.46244 8.53757 3.46244 13.4624 6.5 16.5L12 22Z"
                                    stroke="#830c40" stroke-width="2.5" stroke-linejoin="round"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_429_11046">
                                    <rect width="24" height="24" fill="white"></rect>
                                </clipPath>
                            </defs>
                        </g>
                    </svg>
                    <p class="text-sm ml-1">
                        Rua José Maria
                        Medeiros, 5230
                        Jardim Redentor
                        (Igreja Batista)
                    </p>
                </div>
            </div>
            <div class="mt-2">
                <form asp-action="Index" asp-controller="Presence" method="post">
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Seu nome completo</legend>
                        <input asp-for="FullName" type="text" class="input input-lg w-full" placeholder="Digite seu nome" />
                        <span class="text-error" asp-validation-for="FullName"></span>
                    </fieldset>
                    <button class="btn btn-block bg-base-300 mt-2 btn-lg hover:animate-pulse">Confirmar Presença 💕</button>
                </form>
            </div>
            <div class="divider mt-0.5"></div>
            <p class="text-center text-neutral -mt-2">Estou ansiosa para comerar com você!</p>
        </div>
    </div>

    <div class="flex justify-center my-4 lg:mt-0 w-4/5  lg:w-auto">
        <p class="text-center">
            Esse site foi feito e desenvolvido com muito ❤️ pelo o meu papai 
            <a class="underline" href="https://github.com/RaffDevs">
                <b> Rafael</b>
            </a>
        </p>
    </div>
</div>

@await Html.PartialAsync("_PresenceFeedBack");

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial") 
    <script>
        function showModal() {
            console.log("FUI CHAMDO")
            $("#feedback-modal")[0].showModal();
        }

        $(document).ready(function () {
            showModal();
        });
    </script>
}